@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap');

body {
    font-family: 'Ysabeau Office', sans-serif;
    margin: 0px;
}
hr {
    margin: 1rem 0rem;
}

.container {
    padding: 0rem 1rem;
}
.container-centric{
max-width: 600px;
margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 5rem;
    display:inline-flex;
}

.link-primary {
    color:black;
    background-color: darkgray;
    border: 2px solid #92400e;
}

.link-secondary {
    color:darkgray;
    background-color: #92400e;
    border: 2px solid black;
}

.non-bullet {
list-style: none;
}

.list-item-inline {
display: inline;
padding: 0rem 0.5rem;
}

.navigation {
    background-color: rgb(250, 197, 154);
    color:maroon;
    padding: 1rem ;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.navigation .link {
    color: maroon;
}
.navigation .nav-pills {
    text-align: right;
}
.navigation .nav-brand {
    font-weight: bold;
}
.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}
.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
}
.hero .hero-heading {
    text-align: center;
    padding: 0.3rem 0.33rem;
    background-color: wheat;
    width: fit-content;
    margin: auto;
    border: 0.2rem solid black;
    border-radius: 1rem;
    
}
.hero .hero-heading .hero-col {
    color: maroon;
}
.list-item-inline {
    background-color: 
}
.section h3 {
    text-align: center;
    padding: 2rem;
}
.section{
    margin-top: 0rem;
    padding: 0.5rem 1rem;
}
.footer{
    margin-top: 2rem;
    background-color: rgb(250, 197, 154);
    padding: 2rem ;
    text-align: center;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.footer ul {
    padding-inline-start: 0px;
}
.footer .footer-header h2{
    color: #92400e;
}
.footer .link {
    color: black;
}
.p {
    text-align: center;
    text-decoration: underline black;
}